##Criando e Salvando dados em excel

In [1]:
import pandas as pd
import numpy as np

# Criar DataFrame 
data = {
    "Região": ["Norte", "Norte", "Sul", "Sul", "Norte"],
    "Mês": ["Jan", "Fev", "Jan", "Fev", "Mar"],
    "Vendas": [1500, np.nan, 2200, 1800, 2000],
    "Despesas": [300, 250, np.nan, 400, 350]
}

df = pd.DataFrame(data)

# Salvar em Excel
df.to_excel("vendas.xlsx", index=False, engine="openpyxl")

print("Arquivo 'vendas.xlsx' criado com sucesso!")

Arquivo 'vendas.xlsx' criado com sucesso!

##lê os arquivos Excel

In [2]:
import pandas as pd

df = pd.read_excel("vendas.xlsx", engine="openpyxl")

# Visualizando os dados
print(df)

  Região  Mês  Vendas  Despesas
0  Norte  Jan  1500.0     300.0
1  Norte  Fev     NaN     250.0
2    Sul  Jan  2200.0       NaN
3    Sul  Fev  1800.0     400.0
4  Norte  Mar  2000.0     350.0

##Calculando mediana na coluna "vendas" e "despesas"

In [3]:

mediana_vendas = df["Vendas"].median()
print("Mediana das Vendas:", mediana_vendas)


media_despesas = df["Despesas"].mean()
print("Média das Despesas:", media_despesas)

Mediana das Vendas: 1900.0
Média das Despesas: 325.0

##substituindo Nan em "vendas" e em "despesas" pelas respectivas mediana e média

In [4]:

df["Vendas"] = df["Vendas"].fillna(mediana_vendas)

df["Despesas"] = df["Despesas"].fillna(media_despesas)

print(df)

  Região  Mês  Vendas  Despesas
0  Norte  Jan  1500.0     300.0
1  Norte  Fev  1900.0     250.0
2    Sul  Jan  2200.0     325.0
3    Sul  Fev  1800.0     400.0
4  Norte  Mar  2000.0     350.0

##soma das vendas por região

In [5]:
soma_vendas = df.groupby(["Região"])["Vendas"].sum()
print("Soma total de Vendas por Região")
print(soma_vendas)

Soma total de Vendas por Região
Região
Norte    5400.0
Sul      4000.0
Name: Vendas, dtype: float64

##soma das vendas por mês

In [6]:
soma_vendas = df.groupby(["Mês"])["Vendas"].sum()
print("Soma total de Vendas por Mês")
print(soma_vendas)

Soma total de Vendas por Mês
Mês
Fev    3700.0
Jan    3700.0
Mar    2000.0
Name: Vendas, dtype: float64

##média de despesas por região

In [7]:
# Média de despesas por região

media_despesas = df.groupby(["Região"])["Despesas"].mean()
print("\nMédia de Despesas por Região")
print(media_despesas)

Média de Despesas por Região
Região
Norte    300.0
Sul      362.5
Name: Despesas, dtype: float64

##media das despesas por mês

In [8]:
media_despesas = df.groupby(["Mês"])["Despesas"].mean()
print("\nMédia de Despesas por Mês")
print(media_despesas)

Média de Despesas por Mês
Mês
Fev    325.0
Jan    312.5
Mar    350.0
Name: Despesas, dtype: float64

##agrupando horizontalmente

In [10]:
import numpy as np

vendas_despesas_hstack = np.hstack([
    df["Vendas"].values.reshape(-1, 1),
    df["Despesas"].values.reshape(-1, 1)
])

df_hstack = pd.DataFrame(vendas_despesas_hstack, columns=["Vendas", "Despesas"])
print(df_hstack)

df_hstack.describe()

   Vendas  Despesas
0  1500.0     300.0
1  1900.0     250.0
2  2200.0     325.0
3  1800.0     400.0
4  2000.0     350.0

            Vendas    Despesas
count     5.000000    5.000000
mean   1880.000000  325.000000
std     258.843582   55.901699
min    1500.000000  250.000000
25%    1800.000000  300.000000
50%    1900.000000  325.000000
75%    2000.000000  350.000000
max    2200.000000  400.000000

##sumário estatístico:

In [ ]:
colunas_numericas = df.select_dtypes(include='number')

# média
media = colunas_numericas.mean()

# mediana
mediana = colunas_numericas.median()

# desvio padrão
desvio_padrao = colunas_numericas.std()


# monta um dataframe com resultados
resumo_estatistico = pd.DataFrame({
    "Média": media,
    "Mediana": mediana,
    "Desvio Padrão": desvio_padrao
}).round(2)

print("Sumário Estatístico:")
print(resumo_estatistico)

Sumário Estatístico:
           Média  Mediana  Desvio Padrão
Vendas    1880.0   1900.0         258.84
Despesas   325.0    325.0          55.90